page-services {
    .scroll {
        overflow-y: scroll;
      }

      ion-content{
        margin-top: 186px;
      }

      .list-item{
          position: relative;
          top: 0px;
      }

      button{
        position: absolute;
        top: 15px;
        right: 0;
        float: right;
        width: 75px;
        height: 45px;
        border-radius: 4px;
      }
}
