page-home {
    .rosa{
        color: map-get($colors, secondary);
    }

    h2{
        line-height: 2;
    }
    .eEndereco{
        font-size: 11px;
        max-width: 200px;
        margin-left: 5px;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }
    .eDistance{
        float: right;
        position: relative;
        font-size:12px;
        font-weight: bold;
    }
    .eFile{
        width: 100%;
        height: 130px;
        object-fit: cover;
        border-bottom: 1px solid #EEE;
    }

    .card-md{
        width: 100%;
        margin-left: 0;
    }

    .card-ios{
        width: 100%;
        margin-left: 0;
    }

    .label-range{
        font-size: 12px;
    }
    .col{
        padding-bottom: 0;
    }

    ion-footer{
        background-color: white;
        color: map-get($colors, secondary); 
      }
    ion-footer .toolbar-background-md{
      background-color: white;
    }
    ion-footer .toolbar-background-ios{
        background-color: white;
      }

    .badge-md, .badge-ios{
        background-color: map-get($colors, secondary); 
    }

}
