page-list-agenda {

    button.confirm{
        background-color: olivedrab;
        color: white;
        font-size: 10px;
    }

    button.cancel{
        background-color: maroon;
        color: white;
        font-size: 10px;
        margin-left: 5px;
    }

    button.comment{
        background-color: orange;
        color: white;
        font-size: 10px;
        margin-left: 5px;
    }
}
